<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/starter-template/">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/3.3/examples/starter-template/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie-emulation-modes-warning.js"></script>

    {#    Axios CDN#}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>


</head>


<body>

<div class="container" id="app">

    <div class="starter-template">
        <h1>_____: ছন্দ কথা :_____ </h1>
    </div>


    <!-- division -->
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <select name="division" id="" class="form-control" @change="getDistricts()"
                        v-model="form_data.division">
                    <option value="">বিভাগ</option>
                    <option v-for="division in divisions" :key="division.id" v-bind:value="division.id">
                        [[division.bn_name]]
                    </option>
                </select>
            </div>


            <!-- district -->
            <div class="col-lg-3">
                <div class="form-group">
                    <select name="district" id="" v-model="form_data.district" class="form-control">
                        <option value="" selected="selected">জেলা</option>
                        <option v-for="district in districts" :key="district.id" v-bind:value="district.id">
                            [[district.bn_name]]
                        </option>
                    </select>
                </div>
            </div>


            <!-- Category -->
            <div class="col-lg-3">
                <div class="form-group">
                    <select name="district" id="" v-model="form_data.category" class="form-control">
                        <option value="" selected="selected">শ্রেণী বিভাগ</option>
                        <option v-for="categorie in categories" :key="categorie.id" v-bind:value="categorie.id">
                            [[categorie.bn_name]]
                        </option>
                    </select>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="form-group">
                    <button class="btn btn-primary" @click.prevent="getChondoKotha()">Search</button>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10">
                    <table class="table table-bordered">
                        <tr>
                            <th>Title</th>
                            <th>Districts</th>
                            <th>Category</th>
                            <th>Division</th>
                        </tr>

                        <tr v-for="kotha in chondoKotha" :key="kotha.id">
                            <td>[[kotha.title]]</td>
                            <td>[[kotha.district__name]]</td>
                            <td>[[kotha.category__name]]</td>
                            <td>[[kotha.district__division__name]]</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<script>

    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            message: 'Django',
            divisions: [],
            categories: [],
            districts: [],
            chondoKotha: [],
            form_data: {
                division: '',
                district: '',
                category: ''
            }
        },


        created() {

            axios.get('http://127.0.0.1:8000/data/')
                .then(response => {
                    this.divisions = response.data.division
                    this.categories = response.data.category
                    console.log(response.data.division)
                })
        },
        methods: {
            getDistricts() {
                axios.get('http://127.0.0.1:8000/district/?division=' + this.form_data.division)
                    .then(response => {
                        this.districts = response.data.district
                        console.log(response.data.district)


                    })

            },

               getChondoKotha() {
                axios.get('http://127.0.0.1:8000/kotha/?division=' + this.form_data.division + '&category=' + this.form_data.category + '&districts=' + this.form_data.district + '')
                    .then(response => {
                        this.chondoKotha = response.data.kotha

                    })
            }
        }

    })
</script>


</body>
</html>
